.title-trailer {
  padding: 5px;
}

.container-trailer-list {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 95%;

  div {
    border-radius: 1rem;
    display: flex;
    align-items: center;
  }

  .trailer-id {
    padding: 5px;
    width: 10%;
  }
  .trailer-name {
    padding: 5px;
    width: 80%;
  }

  button {
    justify-content: flex-end;
    width: 10%;
  }
}